<footer>
        <div class="container" style="height: 100px;">
          <div style="height: 40px;"></div>
          <div class="row">
            <div class="col-md-4 float-right">
              <p>Copyright &copy; Xpertz Collaboration Software 2018</p>
            </div>
          </div>
        </div>
      </footer>