<!-- This file is the template for the collaborate dashboard page -->
<% include partials/header %>

<div class="pusher">




    <% include partials/content-footer %>
</div>

<% include partials/footer %>