<!-- This file is the template for the template headers -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xpertz Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Semantic-UI css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.css">


  <!-- Icon CDNs -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <!-- Custom fonts for this template -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">

  <!-- Semantic UI JS-->
 <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
 <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>
<!-- Navigation Sidebar -->
<div class="ui wide left sidebar visible inverted vertical labeled menu main-gradient">
        <!-- Title -->
        <div id="menu-title">
          <img id="brand-icon" src="../../assets/dashboard-icons/logo-white.png" alt="Xpertz"/>
          <img id="brand-title" src="img/dashboard-icons/title-white.png" alt="XPERTZ">
        </div>
        <!-- Menu items -->
        <a class="item">
          <i class="home icon white"></i>
          Dashboard
        </a>
        <a class="item">
            <i class="fas fa-pie-chart white icon"></i>
          Performance
        </a>
        <a class="item">
          <i class="fa-trophy white icon"></i>
          Network
        </a>
        <a class="item">
          <i class="handshake white icon"></i>
          Collaborate
        </a>
        <a class="item">
          <i class="fa-question-circle icon"></i>
          Help
        </a>
        <a class="item">
          <i class="sign-out icon"></i>
          Logout
        </a>
      </div>